<!-- login.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    {% load static %} 
    <link rel="stylesheet" type="text/css" href="{% static 'recipes/styles.css' %}">
    
</head>

<body>
    <div class="container">
        <h1>Login to Your Account</h1>
        
        <!-- Display error messages -->
        {% if messages %}
            <div class="error-messages">
                {% for message in messages %}
                    <p class="message {{ message.tags }}">{{ message }}</p>  <!-- Include message tags for styling -->
                {% endfor %}
            </div>
        {% endif %}
        
        <form method="post">
            {% csrf_token %}
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" placeholder="Enter your username">
            
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" placeholder="Enter your password">
            
            <button type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="{% url 'register' %}">Register here</a></p>
    </div>
</body>
</html>
